<section class="nav">
    <div class="container">
        <div class="row">
            <ul class="menu">
                <li><a class="" href="">Home</a></li>
                <li><a class="" href="">O nas</a></li>
                <li><a class=""  href="">Kontakt</a></li>
                <li><a class="" href="">Zostaw Zgłoszenie</a></li>
                <li><a class="" href="">Cennik</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

</section>
