<html>
<head>
    <link rel="stylesheet" href="res/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
{{ id }}

<div class="container">
    <div class="col-12 post">
        <div class="row">
            <h3>qwettweqtweq</h3>
            <div class="clear"></div>
            <div class="post">
                <hr>
                <span class="date"></span><span class="category">241241</span>
                <p>twqewtq</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
